@mixin dataManage {

  // 数据管理
  .dataManage {
    .standing {

      //超级搜索框
      .standing-bar {
        // margin-bottom: 1px;

        .search-title {
          background-color: rgba(255, 255, 255, 0.1);
          padding: 5px;

          .el-input__inner {
            height: 100%;
            background-color: #4e8bc2;
            border: 2px solid $border-tansparent;
          }

          .el-input-group__append {
            border: 0;

            .el-button {
              height: 100%;
              padding: 0 8px;
              background-color: #4e8bc2;
              border: 2px solid $border-tansparent;
              border-left: none;

              span {
                color: #ffffff;
              }
            }
          }
        }
      }

      .list-view {
        .searchEngineList {
          .el-tabs__content {
            .searchFilterBox {
              border: 1px solid $border-tansparent;
            }

            .ajxxListBox {
              .ulList {
                .list-item {
                  margin-top: 14px;
                  border-bottom: 2px solid $border-tansparent;
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }

    .searchEngine {
      .search-box {
        .el-col {
          background-color: rgba(0, 0, 0, 0.5);

          .el-input__inner {
            border: none;
          }
        }
      }

      .list-view {
        cursor: pointer;

        .list-item:hover {
          background: rgba(255, 255, 255, 0.3);
        }

        .list-item {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          .text-blue {
            color: #fff;
          }

          .text-yellow {
            color: #d5820e;
          }

          .text-red {
            color: #ff2d51;
          }

          p {
            color: #ccc;
          }
        }
      }
    }
  }

  // 敏感时段
  .sensitive-time {
    .el-form-item {
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
    }

    .sensitive-time-left .sensitive-time-tree {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: rgba(17, 50, 66, 0.2);

      .el-tree-node__content>span {
        color: #ffffff;
      }

      .el-tree-node__content:hover {
        background-color: rgba(17, 41, 60, 0.2);
      }

      .el-tree-node__content:visited {
        background-color: rgba(17, 41, 60, 0.2);
      }

      .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
        background-color: rgba(17, 41, 60, 0.2);
      }
    }
  }

  //统计分析搜索框背景色
  .policeEvaluate,
  .people-data-range,
  .policeWork,
  .resourceManagement {
    .search-box {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  //评估指标PGIS
  .pgis {
    .select-operation {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  // 系统f管理
  .systemManagement {
    .operation-bar {
      margin-bottom: 10px;

      .operation-box {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .el-header {
      background-color: rgba(0, 0, 0, 0.5);
    }

    // 资源管理
    .resourceManagement {
      .operation-box {
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
      }
    }

    .el-tree-node__content {
      color: #fff;
    }

    .el-tree-node__content:hover {
      color: dodgerblue;
    }

    // 机构管理
    .organizational-list {
      .table-header {
        background-color: rgba(10, 30, 48, 0.5);
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      .treeitem:nth-child(odd) {
        .el-tree-node__content {
          background-color: rgba(27, 77, 113, 0.4) !important;
        }

      }

      .treeitem:nth-child(even) {
        .el-tree-node__content {
          background-color: rgba(19, 60, 90, 0.4) !important;
        }

      }

      .el-tree-node__content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      .el-tree-node__content:hover {
        background-color: rgba(42, 66, 48, 0.4);
        color: #fff;
      }

      .el-tree-node:focus>.el-tree-node__content {
        background-color: rgba(42, 66, 48, 0.4);
        color: #fff;
      }

    }
  }

  //爆点指标
  .assessConfig {
    .el-span {
      color: #fff;
      border: none;
    }
  }

  //报表
  .report {
    .search {
      padding-top: 0;
    }
  }

}