@mixin details {
  // 搜索框
  .standing {

    //超级搜索框
    .standing-bar {
      // margin-bottom: 1px;

      .search-title {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px;

        .el-input__inner {
          height: 100%;
          background-color: #4e8bc2;
          border: 2px solid $border-tansparent;
        }

        .el-input-group__append {
          border: 0;

          .el-button {
            height: 100%;
            padding: 0 8px;
            background-color: #4e8bc2;
            border: 2px solid $border-tansparent;
            border-left: none;

            span {
              color: $light-font;
            }
          }
        }
      }
    }

    .list-view {
      .searchEngineList {
        .el-tabs__content {
          .searchFilterBox {
            border: 1px solid $border-tansparent;
          }

          .ajxxListBox {
            .ulList {
              .list-item {
                margin-top: 14px;
                border-bottom: 2px solid $border-tansparent;
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }

  .searchEngine {
    .search-box {
      .el-col {
        background-color: rgba(0, 0, 0, 0.5);

        .el-input__inner {
          border: none;
        }
      }
    }

    .list-view {
      cursor: pointer;

      .list-item:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      .list-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        .text-blue {
          color: #fff;
        }

        .text-yellow {
          color: #d5820e;
        }

        .text-red {
          color: #ff2d51;
        }

        p {
          color: #ccc;
        }
      }
    }
  }
}